/* variables*/

:root {
  
  --white: hsl(0, 0%, 100%);
  --lightgrey: hsl(212, 45%, 89%);
  --grayblue: hsl(220, 15%, 55%);
  --darkblue: hsl(218, 44%, 22%);

  --ff: "Outfit", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-400: 0.938rem;
  --fs-900: 1.375rem;
  
  
}

/* reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* main */

html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

body {
  background: var(--Light-Grey, #D5E1EF);
}

.container {
  width: 320px;
  height: 497px;
  background: var(--white);
  border-radius: 20px;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
  flex-shrink: 0;
}


.qr-container {
  width: 288px;
  height: 288px;
  border-radius: 10px;
  background: #2C7DFA;
  flex-shrink: 0;
  margin: 0 auto;
  margin-top: 15px;
}

.qr-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.heading-container {
  width: 288px;
  margin: auto;
  margin-top: 15px;
}

h1 {
  color: var(--darkblue);
  font-family: var(--ff);
  font-size: var(--fs-900);
  font-style: normal;
  font-weight: var(--fw-bold);
  line-height: normal;
  text-align: center;
}

.para-container {
  width: 256px;
  margin: auto;
  margin-top: 16px;
}

.para-container p {
  color: var(--grayblue);
  font-family: var(--ff);
  font-size: var(--fs-400);
  font-style: normal;
  font-weight: var(--fw-regular);
  line-height: normal;
  letter-spacing: 0.188px;
  text-align: center;
}

@media screen and (max-width: 375px) {
  html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}